

.App {
  text-align: center;
  color: darkred;
  background-color: ghostwhite;
}

.left-align {
  position: relative;
  display: flex;
  height: 100px;
  width: 150px;
  background-color: darkblue;
}

.left-align button {
  max-width: 140px;
}